In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Data_Set1.xlsx")

In [3]:
#cell phone prefixes
prefixes = ('20', '21', '22', '30', '31', '32', '40', '41', '42', '50', '51', '52', '60', '61', '62')

In [4]:
#dropping uneeded columns
df.drop(['index', 'first', 'last', 'gender', 'email'], axis=1, inplace = True)

In [5]:
#adding a new column to count the number of cell phones per row
df['count'] = df.apply(lambda x: x.count(), axis=1)

In [6]:
#sum of columns with more than one phone number Count:4055
df.astype(str)
count = df[df['count'] > 1].count()
print (count)

phone1    4055
phone2    4055
phone3    3278
phone4    2557
phone5    1924
phone6    1371
phone7     877
phone8     416
count     4055
dtype: int64

In [7]:
#sum of all cell phones with more than one number: 18533
df[df['count']>1]['count'].sum()

18533

In [8]:
#sum of the count of cell phone numbers
df.groupby('count').count()

       phone1  phone2  phone3  phone4  phone5  phone6  phone7  phone8
count
1         945       0       0       0       0       0       0       0
2         777     777       0       0       0       0       0       0
3         721     721     721       0       0       0       0       0
4         633     633     633     633       0       0       0       0
5         553     553     553     553     553       0       0       0
6         494     494     494     494     494     494       0       0
7         461     461     461     461     461     461     461       0
8         416     416     416     416     416     416     416     416

In [9]:
#counting the number of rows and enteries per column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
phone1    5000 non-null int64
phone2    4055 non-null float64
phone3    3278 non-null float64
phone4    2557 non-null float64
phone5    1924 non-null float64
phone6    1371 non-null float64
phone7    877 non-null float64
phone8    416 non-null float64
count     5000 non-null int64
dtypes: float64(7), int64(2)
memory usage: 351.6 KB

In [10]:
#column count is not needed any more
df.drop(["count"], axis=1, inplace = True)

In [11]:
#filling nan values with 0 instead to be able to use them for the next query
df.fillna(0, inplace = True)

In [12]:
#using prefixes to specify the category of the phone type based on either Landline or cell phone
df = df.applymap(lambda x: "Mobile" if str(x).startswith(prefixes) else ("Landline" if (x!=0 and x!="Mobile") else x))

In [21]:
#checking if any values have been dropped from original table
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
phone1    5000 non-null object
phone2    5000 non-null object
phone3    5000 non-null object
phone4    5000 non-null object
phone5    5000 non-null object
phone6    5000 non-null object
phone7    5000 non-null object
phone8    5000 non-null object
dtypes: object(8)
memory usage: 312.6+ KB

In [13]:
#counting the number occurances for eah phone type per phone
df.phone1.value_counts()

Landline    3586
Mobile      1414
Name: phone1, dtype: int64

In [14]:
df.phone2.value_counts()

Landline    2845
Mobile      1210
0.0          945
Name: phone2, dtype: int64

In [15]:
df.phone3.value_counts()

Landline    2274
0.0         1722
Mobile      1004
Name: phone3, dtype: int64

In [16]:
df.phone4.value_counts()

0.0         2443
Landline    1831
Mobile       726
Name: phone4, dtype: int64

In [17]:
df.phone5.value_counts()

0.0         3076
Landline    1343
Mobile       581
Name: phone5, dtype: int64

In [18]:
df.phone6.value_counts()

0.0         3629
Landline     954
Mobile       417
Name: phone6, dtype: int64

In [19]:
df.phone7.value_counts()

0.0         4123
Landline     604
Mobile       273
Name: phone7, dtype: int64

In [20]:
df.phone8.value_counts()

0.0         4584
Landline     301
Mobile       115
Name: phone8, dtype: int64